# Exploration of correlations

A few snippets exploring various possible correlations in the data

In [2]:
import pandas as pd
import pingouin as pg
import os

alpha = 0.05

st = pd.read_csv(os.path.join("..", "data", "data_aggregated.csv"), index_col=0)
#st = pd.read_csv(os.path.join("..", "data", "data_outliers-replaced_aggregated.csv"), index_col=0)

print("Loading:", len(st), "lines", len(st["ParticipantID"].unique()), "participants")

Loading: 876 lines 219 participants

In [3]:
designers = st[st["isDesigner"]]
display(pg.corr(designers["RT"], designers["AUC"]))
display(pg.corr(designers["RT"], designers["AUC"], method="shepherd"))

,n,r,CI95%,r2,adj_r2,p-val,BF10,power
pearson,464,-0.024295,"[-0.12, 0.07]",0.00059,-0.003746,0.601672,0.067,0.081745

,n,outliers,r,CI95%,r2,adj_r2,p-val,power
shepherd,464,23,-0.03779,"[-0.13, 0.05]",0.001428,-0.002904,0.428578,0.128344

In [4]:
nondesigners = st[st["isDesigner"] == False]
display(pg.corr(nondesigners["RT"], nondesigners["AUC"]))
display(pg.corr(nondesigners["RT"], nondesigners["AUC"], method="shepherd"))

,n,r,CI95%,r2,adj_r2,p-val,BF10,power
pearson,412,0.011371,"[-0.09, 0.11]",0.000129,-0.00476,0.818006,0.063,0.056053

,n,outliers,r,CI95%,r2,adj_r2,p-val,power
shepherd,412,24,-0.051335,"[-0.15, 0.05]",0.002635,-0.002242,0.313171,0.180152