In [31]:
import pandas as pd
import pingouin as pg

resultsfilename = "data_stats-outliers-replaced.csv"
st = pd.read_csv(resultsfilename)
print("Loading", len(st), "lines of stats.")

Loading 876 lines of stats.

In [32]:
designers = st[st["isDesigner"]]
display(pg.corr(designers["RT"], designers["AUC"]))
display(pg.corr(designers["RT"], designers["AUC"], method="shepherd"))

           n      r          CI95%     r2  adj_r2     p-val   BF10  power
pearson  464  0.057  [-0.03, 0.15]  0.003  -0.001  0.223435  0.122   0.23

            n  outliers      r          CI95%   r2  adj_r2     p-val  power
shepherd  464        24 -0.002  [-0.09, 0.09]  0.0  -0.004  0.970453   0.05

In [33]:
nondesigners = st[st["isDesigner"] == False]
display(pg.corr(nondesigners["RT"], nondesigners["AUC"]))
display(pg.corr(nondesigners["RT"], nondesigners["AUC"], method="shepherd"))

           n     r          CI95%   r2  adj_r2     p-val   BF10  power
pearson  412  0.01  [-0.09, 0.11]  0.0  -0.005  0.839647  0.063  0.055

            n  outliers      r          CI95%     r2  adj_r2     p-val  power
shepherd  412        25 -0.024  [-0.12, 0.07]  0.001  -0.004  0.638975  0.077