# Statistical analysis

In [20]:
import pandas as pd
import numpy as np

d = pd.read_csv("data-processed.csv")

Number of participants: 21

## Participants

In [33]:
print("Number of participants:")
print(len(d["Participant ID"].unique()))
print()
print("Native vs. non-native:")
#print(d["Native"].value_counts())
print()
print("Different kinds of designers:")
#print(d["Designer"].value_counts())

Number of participants:
21

Native vs. non-native:

Different kinds of designers:

## JoM for categories of designers

In [18]:
display(d.groupby("Designer")["JoM"].mean())

JoM for categories of designers

Designer
Non-designer      45.416667
Other designer    48.333333
Name: JoM, dtype: float64

## JoL for categories of designers

In [19]:
display(d.groupby("Designer")["JoL"].value_counts())

JoL for categories of designers

Designer        JoL
Non-designer    easy to read              396
                difficult to read         360
                very easy to read         288
                ok                        144
                very difficult to read    108
Other designer  difficult to read          72
                ok                         72
                easy to read               36
                very easy to read          36
Name: JoL, dtype: int64

## Calculating p(A)

In [79]:
fonts = set(d["Font"].unique())

for test_type in ["lexical", "recognition"]:
    if test_type == "lexical":
        category_used = "Category"
    else:
        category_used = "Seen"
    categories = set(d[d["Test type"] == test_type][category_used].unique())
    responses = set(d[d["Test type"] == test_type]["Response"].unique())
    index = pd.MultiIndex.from_product([categories, responses], names=["categories", "responses"])
    for font in fonts:
        dt = d[(d["Test type"] == test_type) & (d["Font"] == font)]
        dg = pd.DataFrame(index=index)
        dg["counts"] = dt.groupby(category_used)["Response"].value_counts()
        dg["frequencies"] = dt.groupby(category_used)["Response"].value_counts(normalize=True)
        print("# %s task, font: %s" % (test_type.title(), font))
        display(dg)
        print()
        print()
        print()

# Lexical task, font: sansforgetica

                              counts  frequencies
categories responses
non-word   Probably non-word    24.0     0.114286
           Sure word            22.0     0.104762
           Sure non-word       159.0     0.757143
           Probably word         5.0     0.023810
word       Probably non-word     NaN          NaN
           Sure word           209.0     0.995238
           Sure non-word         NaN          NaN
           Probably word         1.0     0.004762

# Lexical task, font: inputsans

                              counts  frequencies
categories responses
non-word   Probably non-word    15.0     0.071429
           Sure word            25.0     0.119048
           Sure non-word       164.0     0.780952
           Probably word         6.0     0.028571
word       Probably non-word     NaN          NaN
           Sure word           209.0     0.995238
           Sure non-word         1.0     0.004762
           Probably word         NaN          NaN

# Recognition task, font: sansforgetica

                              counts  frequencies
categories responses
seen       Sure not seen           9     0.053254
           Probably seen          56     0.331361
           Probably not seen      30     0.177515
           Sure seen              74     0.437870
non-seen   Sure not seen          62     0.371257
           Probably seen          24     0.143713
           Probably not seen      61     0.365269
           Sure seen              20     0.119760

# Recognition task, font: inputsans

                              counts  frequencies
categories responses
seen       Sure not seen           6     0.035714
           Probably seen          41     0.244048
           Probably not seen      31     0.184524
           Sure seen              90     0.535714
non-seen   Sure not seen          64     0.380952
           Probably seen          28     0.166667
           Probably not seen      56     0.333333
           Sure seen              20     0.119048